 body {
     background-color: rgb(2, 31, 41);
 }

 h1 {
     font-size: 2.3rem;
     color: white;
     padding: 20px 0 0 30px;
 }

 h2 {
     position: absolute;
     font-size: 1.8rem;
     font-weight: bold;
     transform: rotate(270deg);
     color: white;
     margin: 230px 0 0 0;
     left: 70px;
 }

 .skills {
    background-image: linear-gradient(#092E3d,#ACC8D1,#092E3d);
     height: 600px;
     width: 85%;
     margin: auto;
 }

 .rank1, .rank2, .rank3, .rank4, .rank5{
     width: 130px;
     font-size: 1.4rem;
     font-weight: bold;
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     display: inline-block;
     text-align:  center;
     margin-right:  40px;
     margin-top: 40px;
     margin-left: 10px;
     /* flex: 1; */
 }

 .container {
     margin-left: 140px;
     display: flex;
 }

 .row1, .row2, .row3, .row4, .row5 {
     padding-bottom: 300px;
 }

 .green-box {
    padding-top: 10px;
    background-color: rgb(168, 245, 52);
    border-top: greenyellow 5px solid;
    background: linear-gradient(
        to bottom,
        rgba(57, 238, 2, 0.099) 0%,
        rgba(43, 223, 73, 0.0055) 10%,
        rgba(31,253,11,0.08) 50%,
        rgba(41, 221, 71, 0.2) 100%
    );
 }

 .curve {
     width: 200px;
     height: 170px;
     border: solid 5px rgb(235, 248, 49);
     border-color:  rgb(250, 229, 41) transparent transparent transparent;
     border-radius: 100%/330px 0 0 50%;
     position: absolute;
     top: 421px;
     transform: rotate(-11.8deg);
 }

 .wave {
    width: 350px;
    height: 160px;
    border: solid 5px rgb(186, 231, 143);
    border-color:  rgb(186, 231, 143) transparent transparent transparent;
    position: absolute;
    top: 374px;
    left: 439px;
    transform: rotate(-9deg);
 }

 .curve1 {
    width: 170px;
    height: 160px;
    border: solid 5px #97f83b;
    border-color:  #97f83b transparent transparent transparent;
    position: absolute;
    top: 334px;
    left: 783px;
    transform: rotate(-9deg);
     }

     .curve2 {
        width: 210px;
        height: 170px;
        border: solid 5px #14a2b4;
        border-color:  #14a2b4 transparent transparent transparent;
        border-radius: 100%/280px 0 0 ;
        position:  absolute;
        top: 130.5px;
        left: 919px;
        transform: rotate(170.3deg);
    }


 .link {
    color: white;
    font-size: 1.2rem;
    position: absolute;
    margin: 50px 0 0 70px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 
 
.line1, .line2 {
    position: absolute;
    border-left: 2px solid white;
    left: 227px;
    height: 100px;
    top: 370px;
}

.line2 {
   top: 230px; 
}

.line3 {
   position: absolute;
   border-left: 920px solid white;
   left: 223px;
   height: 2px;
   top: 470px;
}

.line4 {
   position: absolute;
   border-left: 10px solid white;
   left: 223px;
   height: 2px;
   top: 228px;
}

.num1 {
    position: absolute;
    color: white;
    left: 180px;
    top: 200px;
}

.num2 {
    position: absolute;
    color: white;
    top: 320px;
    left: 210px;
}

.num3 {
    position: absolute;
    color: white;
    top: 435px;
    left: 210px;
}

.word1 {
    color: white;
    left: 645px;
    top: 500px;
    position: absolute;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
}


 
